#!/bin/bash

# http://nrodwiki.rockshore.net/index.php/About_the_Network_Rail_feeds
# Get an account here:
# https://datafeeds.networkrail.co.uk/ntrod/login

export NR_DATAFEEDS_USERNAME='<your username>'
export NR_DATAFEEDS_PASSWORD='<your password>'
